@media (min-width: 1200px)
	.navbar
		.nav-item
			.nav-link
				font-size: 14px	!important
				font-weight: 500 !important

@media (min-width: 991px)
	.navbar
		.navbar-brand
			padding: 0 !important
		.logo
			height: 50px
	
@media (min-width: 992px) and (max-width: 1199px)
	.navbar
		.nav-item
			.nav-link
				font-size: 12px	!important
				font-weight: 500 !important

// @media (max-width: 991px)

@media screen and (max-width: 767px)
	.blackout
		h1
			display: inline-block
			width: 65%
			font-size: 1.6rem
		h3
			display: inline-block
			width: 60%
			font-size: 0.8rem
	.img-card-tll
		max-height: 300px !important

@media screen and (max-width: 400px)
	.img-card-tll
		max-height: 250px !important