@import "media"

$primary-color: rgb(118,189,205)
$active-color: rgb(48,68,131)
$hover-transition: 300ms

.logo
	height: 30px
.navbar
	.nav-item
		transition: $hover-transition
		color: #fff
		.nav-link
			font-size: 14px
			font-weight: 500 !important
			transition: $hover-transition
			.ripple-decorator
				background-color: #fff !important
		.nav-link:hover
			color: $active-color
			transition: $hover-transition
		.active
			color: $active-color !important
		a.btn
			background: white
			color: $primary-color
			transition: $hover-transition
		a.btn:hover, a.btn:active
			background: rgb(48,68,131)
			color: white
			transition: $hover-transition
		a.btn.active
			background: rgb(48,68,131)
			color: white
.alert
	padding: 10px 15px !important
	text-align: center
	font-weight: 400
	b
		font-size: 18px
	button.close
		height: 40px
		line-height: 10px
.special-offer
	position: fixed
	top: 70px
	z-index: 10
	width: 100%
.header-carousel, .carousel-img
	height: 100vh
.carousel-img
	object-fit: cover
.carousel-control-prev, .carousel-control-next
	opacity: 0.8 !important
	i
		font-size: 80px !important
.blackout
	height: 100vh
	width: 100vw
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	background-color: rgba(0,0,0,0.5)
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	text-align: center
	.title
		color: white
		display: inline-block
		width: 65%
	.sub
		color: lightgray !important
		margin: 0
.img-card-tll
	border-radius: 6px
	overflow: hidden
	display: flex
	justify-content: center
	max-height: 400px
	.img
		width: 100%
		object-fit: cover
p.indented
	text-indent: 30px
	text-align: justify
	font-size: 16px
	font-weight: 300
